.title-cards{

    position: relative;

    padding: 2rem 0;
    padding-left: 4rem;


    z-index: 2;
    


    // border: 1px solid red;

    h2{
        font-weight: 500;
        font-size: 26px;
        line-height: 18px;
        margin-bottom: 1.5rem;
    }

    .card-list{
        display: flex;
        gap: 10px;

        overflow-x: scroll;

        &::-webkit-scrollbar{
            display: none;
        }

        .card-details{
            position: relative;

            z-index: 2;
        
            .card-img{
                width: 20rem;
                border-radius: 2px;
                cursor: pointer;

            }

            p{
                position: absolute;
                z-index: 3;
                bottom: 10px;
                right: 10px;
                text-decoration: none;
                color: #fff;
            }
        }

    }

}

.title-cards:first{
    border: 1px solid blue;
}